/*
!.gitignore

!/2015_Monsoon/
/2015_Monsoon/*
!/2015_Monsoon/Analysis/
/2015_Monsoon/Analysis/*
!/2015_Monsoon/Analysis/Draft/
/2015_Monsoon/Analysis/Draft/*
!/2015_Monsoon/Analysis/Revision/
/2015_Monsoon/Analysis/Revision/*

!/2016_Teleconnection/
/2016_Teleconnection/*
!/2016_Teleconnection/Analysis/
/2016_Teleconnection/Analysis/*

!/2016_Tibetan_Plateau/
/2016_Tibetan_Plateau/*
!/2016_Tibetan_Plateau/File_I/
/2016_Tibetan_Plateau/File_I/*

!/2017_ENSO_teleconnection/
/2017_ENSO_teleconnection/*
!/2017_ENSO_teleconnection/Analysis/
/2017_ENSO_teleconnection/Analysis/*
!/2017_ENSO_teleconnection/Regrid/
/2017_ENSO_teleconnection/Regrid/*

!/2018_ENSO_complexity/
/2018_ENSO_complexity/*
!/2018_ENSO_complexity/Analysis/
/2018_ENSO_complexity/Analysis/*
!/2018_ENSO_complexity/F_File_I/
/2018_ENSO_complexity/F_File_I/*

!/2018_ENSO_review/
/2018_ENSO_review/*

!/2018_ENSO_transition/
/2018_ENSO_transition/*
!/2018_ENSO_transition/Analysis/
/2018_ENSO_transition/Analysis/*
!/2018_ENSO_transition/Case/
/2018_ENSO_transition/Case/*

!/2019_Causality/
/2019_Causality/*
!/2019_Causality/Analysis/
/2019_Causality/Analysis/*

!**/*.ncl
!**/**/*.ncl
!**/**/**/*.ncl
